.container{
    background-color: #f8f9fa !important;
    margin-top: 3em;
    padding : 2em;
    border-radius: 25px;
    }

    .aboutUsTitle{
     position: absolute;
     margin-top: -1.5em;
     margin-left: .4em;
    }
    #Nurses{
        max-width: 23em ;
        margin-left: 5em;
        margin-top:.5em;
    }
    .leftQuoteDiv{
        margin-top: 8%  !important;
    }
    .rightQuoteDiv{
        margin-top: 0%  !important;
    }
    li{
       margin-bottom: .5em; 
    }
    @media screen and (min-width: 100px) and (max-width: 1000px) {
        .quoteDiv{
    
    
        margin-left: 10%;
        padding: 2em;
        padding-left: 0px;
        border-radius: 10px;
        background-color: #007efc;
           
        }
    }