.App {
  width: 100%;
  background-image: url(./images/Covid19Background-.jpg);
  background-size: cover;
  min-height: 1200px;
  height: auto !important;
  height: 1200px;
}
#dropdown-basic{

  background-color: rgba(129, 89, 60, 0);
  border-color: rgba(255, 248, 220, 0);
  color: rgba(0,0,0,.5);
  margin-top: 1px;
}
#dropdown-basic:hover{
  color: rgba(0, 0, 0, 0.767);
}

.rightQuoteDiv{

  position: absolute;
  margin-left: 62%;
  margin-bottom: 100%;
  padding: 2em;
  border-radius: 10px;
  width:max-content;
  max-width: 15em;
  height:max-content;
color: white;
  background-color: #133b60;
  vertical-align: middle;
     
   
}
.leftQuoteDiv{

  position: absolute;
  margin-left: -16%;
  padding: 2em;
  border-radius: 10px;
  width:max-content;
  max-width: 15em;
  height:max-content;
  color: white;
  background-color: #133b60;
  vertical-align: middle;
     
   
}
